<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC connection -->
           <!--  
			<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
			<property name="hibernate.connection.url">jdbc:mysql://localhost/library_management</property>
			<property name="hibernate.connection.username">root</property>
			<property name="hibernate.connection.password">root</property>
            
            <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
             -->
            <!--  PostgreSQL Connection settings -->
            <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
            <property name="hibernate.connection.url">jdbc:postgresql:library_management</property>
            <property name="hibernate.connection.username">mukulu</property>
            <property name="hibernate.connection.password">panda</property>
            <!-- PostgreSQL dialect -->
            <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
            
        <!-- Connection pool size -->
            <property name="hibernate.connection.pool_size">10</property>
    
		<!-- Database schema auto-generation behaviour -->
            <property name="hibernate.hbm2ddl.auto">update</property>
            <!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> -->
		
		<!-- Mapping files -->
            <mapping resource="Announcement.hbm.xml"/>
            <mapping resource="User.hbm.xml"/>
            <!-- <mapping resource="Person.hbm.xml"/>  -->
		
    </session-factory>
	
</hibernate-configuration>

		